# Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
/ToDo.txt

# IDE
.idea/
.vscode/
*.sublime*

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Optional npm cache directory
.npm

# Optional environmental variable (confidential)
# environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# production

# Ignore the build directory
dist/
# Игнорировать все файлы в каталоге build/
frontend/build/
.htaccess

# testing
/coverage
